@font-face {
  font-family: "BMYEONSUNG";
  src: url("./assets/fonts/BMYEONSUNG.woff2") format("woff2"),
    url("./assets/fonts/BMYEONSUNG.woff") format("woff"),
    url("./assets/fonts/BMYEONSUNG.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
